.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;

}
/* edit */
.mat-toolbar{

  box-sizing: border-box;

}
input{
  background: transparent;
  border:none;

}
.rightset{
  align-self: end;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;


}
